{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p> Este es un blog que cree  utilizando un framework de python llamado Flask, con el cual tomo plantillas o archivos que contienen el html, css y javascript. Y les doy logica, asi como funcionalidad a la aplicacion y su despliegue web</p>
        <p> Esto consiste en un simple blog personal, donde esta el administrador (mi usuario) que puede crear, editar o eliminar las publicaciones, asi como usuarios que cualquiera puede crear para comentar estas publicaciones</p>
        <p> El contenido que se vera en este blog son opiniones mias acerca de distintos ambitos como albums de musica, animes en general, manga o cualquier tema</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}